.navebar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
  }
  
  .navebar h2{
    flex: 1;
    margin: auto;
    color: white;
    padding-left: 30px;
  }
  
  .navebar li {
    display: inline;
    padding: 20px;
    cursor: pointer;
  }

  .navebar li a {
    text-decoration: none;
    color: white;
  }